<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como Usar</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/botonInicio.css">
</head>

<body>
    <nav th:replace="fragments/nav :: nav"></nav>

    <h2 id="titulo-tutorial">Como usar la APP</h2>
    <div id="tutorial-contenedor">
        <p id="tutorial">
            La aplicación es un sistema simple de reserva online de libros de una biblioteca.
            En la que el usuario puede buscar un libro según el autor o título del mismo.
            Si lo encuentra puede reservarlo, para eso debe loguearse con sus datos y quedará guardado en la Base de
            datos.
            Puede reservar los libros que desee y estos prestamos quedarán también guardados en su perfil.
            A fines de poder ver la aplicación completa es posible crear un usuario con permisos de administrador.
            Para eso es necesario poner como apellido la palabra "admin" durante el registro de un nuevo usuario.
            Al loguearse con este rol se tendrá acceso a toda la información completa de la página.
            Se pide un uso responsable de este usuario.
            La aplicación web fue creada en lenguaje Java, con Springboot bajo la arquitectura MVC (Modelo Vista
            Controlador),
            la base de datos fue gestionada a través de MySQL, en la parte de Front se utilizó Html, Css y Thymeleaf.
        </p>
    </div>
    <div class="inicio">
        <a th:href="@{/}">IR A INICIO</a>
    </div>
</body>

</html>